
    html
    {
    margin: 0;
    padding: 0;
    }

    body
    {
        font-family: 'Raleway', sans-serif;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        background-color: white;
    }

    header
    {
        display: flex;
        margin: auto;
    }
    

    #Logo
    {
        width: 10%;
        padding: 2em 0 0 0;
        margin-left: 10%;
    }

    nav
    {
        display: flex;
        padding-left: 53%;
    }

    .header_nav
    {
        padding: 50px 25px 25px 25px;

    }

    #sign_up
    {
        padding: 50px 25px 25px 25px;
    }

    a#sign_up
    {
        text-decoration: none;
        font-weight: bold;
        color: #0065FC ;
    }

    a.header_nav:link
    {
        text-decoration: none;
        color: black;
    }

    a.header_nav:hover
    {
        color: #0065FC ;
    }

    a.header_nav:active
    {
        border-top: 2px solid #0065FC;
        color: #0065FC;
    }

    a:link
    {
        text-decoration: none;
        color: black;
    }

    a:hover
    {
        color: #0065FC;
    }

    ul
    {
        list-style: none;
    }

    @media all and (max-device-width: 480px) 
    
    {
        header 
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        #Logo
        {
            order: 1;
            padding: 4em 0 0 0;
            margin: 0;
            width: 25%;
        }
            
        #sign_up
        {
            padding: 2em 0 0 4em;
            order: 2;
            font-size: 2.8em;
            width: 25%;
        }

        a#sign_up
        {
            text-decoration: none;
            font-weight:500;
            color: #0065FC ;
        }

        nav 
        {
            padding: 1.5em 1em 0 1em;
            font-size: 3em;
            order: 3;
        }
        
        .header_nav
        {
            padding: 1em 3em 0.5em 2em;
            border-bottom: #F2F2F2 solid 6px;
            color: black;
        }

        a.header_nav:link
        {
            text-decoration: none;
            border-bottom: #F2F2F2 solid 6px;
            color: black;
        }

        a.header_nav:active
        {
            color: #0065FC;
            border-bottom: #0065FC solid 6px;
            border-top: none;
        }

    }

    main
    {
        width: 80%;
        margin: auto;
    }

    label
    {
        background-color: #F2F2F2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-right: 0;
    }

    #searching_div .fas
    {
        
        padding: 18px 20px 18px 20px;
        font-weight: bold;
        
    }

    .searching_area
    {
        width: 20em;
        border-left: none;
        border-right: none;
        border-top: #F2F2F2 1px solid;
        border-bottom: #F2F2F2 1px solid;
        margin: 0px;
        -webkit-appearance: none;
        font-weight: bold;
        font-style: normal;
        padding-left: 10px;
        
    }

    #searching_div
    {
    display: flex;
    box-sizing: border-box;
    }

    button
    {
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #0065FC;
        width: 10em;
        color: white;
        font-stretch: extra-expanded;
        -webkit-appearance: none;
        
    }

    section h1
    {
        font-size: 20px
    }

    #search p 
    {
        margin: 1em 0em 1em 0;
    }

    .submit_icon
    {
        display: none !important;
    }

    


    @media screen and (max-device-width: 480px)
    {

        #searching_div 
        {
            display: flex;
            /* box-sizing: border-box; */
            margin-bottom: 5em;
        }

        label
        {
            background-color: #F2F2F2;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
            margin-right: 0;
            padding: 1em;
        }

        .searching_area
        {
            width: 20em;
            border-left: none;
            border-right: none;
            border-top: #F2F2F2 2px solid;
            border-bottom: #F2F2F2 2px solid;
            margin: 0px;
            -webkit-appearance: none;
            font-weight:700;
            font-style: normal;
            padding-left: 1em;
            font-size: 2em;
            
        }

        #searching_div .fas
        {
            
            padding: 18px 20px 18px 20px;
            font-weight: bold;
            font-size: 3em;
            
        }

        section h1
        {
            font-size: 3em;
        }
    
        #sub_title_search
        {
            margin: 1em 0em 1em 0;
            font-size: 2.2em;
        }

        .submit_icon
        {
            display: block !important;
            color: white;
        }

        #search_input
        {
            display: none !important;
        }

        button 
        {
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
        }
    

    }


    #filter_title
    {
        font-size: 18px;
        margin-right: 50px;
    }

    #filter_bar
    {
        display: flex;
    }

    .filtered_search
    {
        display: flex;
        align-items: center;
        border-radius: 2rem;
        border: #F2F2F2 2px solid;
        border-left: none;
        margin-bottom: 1rem;
        margin-right: 3em;
        font-weight: bold;
    }

    .icon_search
    {
        background-color: #DEEBFF;
        border-radius: 100%;
        height: 3em;
        width: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -2px;
    }

    .filter_name
    {
        padding-left: 1em;
        padding-right: 1em;
    }

    .filtered_search:hover
    {
        background-color: #deebff63;
    }

   .icon_filter
   {
        color: #0065FC;
   }

   #info
   {
       display: flex;
       margin-top: 1em;
   }

   #logo_info
   {
        border-radius: 100%;
        height: 2px;
        width: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        margin-right: 1em;
        border: 2px solid #F2F2F2;
   }

   #info .fas
   {
       font-size: 10px;
   }

   #info p
   {
       margin: 0px;
       font-size: 15px;
       text-align: center;
       padding-top: 0.2em;
   }

   @media screen and (max-device-width: 480px)
   {
        #filter_bar
        {
            display: flex;
            flex-wrap: wrap;
        }

        .filtered_search
        {
            border-radius: 5rem;
            border: #F2F2F2 8px solid;
            border-left: none;
        }

        #filter_title
        {
            font-size: 3em;
        } 

        .icon_search
        {
            width: 10em;
            height: 10em;
        }

        .icon_filter
        {
            font-size: 3em;
        }

        .filter_name
        {
            font-size: 3em;
        }

        #logo_info
        {
            margin-top: 2em;
            border: 3px solid #F2F2F2;
            width: 3em;
            height: 3em;
        }

        #info .fas

        {
            font-size: 2em;
            color: #0065FC;
        }

        #info p 
        {
            margin: 1em;
            text-align: left;
            font-size: 30px;
        }
   }

   #lodging_main
   {
       margin-top: 2em;
       display: flex;
       height: 100%;
   }

   #lodging
   {
       background-color: #F2F2F2;
       padding-top: 2em;
       padding-left: 2em;
       width: 70%;
       height: 100%;
       border-radius: 20px;
   }

   #lodging_article
   {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-between;
       margin-right: 2em;     
   }

  
   #title_lodging
   { 
    margin-bottom: 1em;
    margin-top: 0em;
    padding: 0px;  
   }
 
   .lodging_a 
   {
    height: 50%;
    width: 30%;
   }

   .lodging_card
   {
    height: 100%;
    width: 100%;
    background-color: white;
    margin-top: 1em;
    border-radius: 15px;
    padding: 0.5rem;
    box-shadow: 8px 8px 8px #d9d9d9;
    box-sizing: content-box;
   }


   .lodging_card_img
   {
    object-fit: cover;
    height: 7.5em;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
   }

   article h3
   {
       padding: 0.2rem;
       margin: 0px;
   }

   article p
   {
       padding: 0.2rem;
   }

   .lodging_card_star
   {
       padding: 0.2rem;
   }

   .lodging_card_content
   {
       width: 100%;
       overflow: auto;
   }

   #article_more
   {
    font-weight: 600;
    margin-top: 2em;
    padding-left: 1em;
    margin-bottom: 2em;
   }

   @media screen and (max-device-width: 480px)
   {

    #lodging_main
    {
        display: flex;
        flex-direction: column-reverse;
    }

    #lodging
    {
        width: 100%;
        background-color: white;
    }

    #title_lodging

    {
        font-size: 3em;
    }

    .lodging_card
    {
        border-radius: 50px;
        box-shadow: 0 0 20px #d9d9d9;
    }

    .lodging_a
    {
        width: 100%;
        margin-bottom: 1em;
    }

    .lodging_card_img
    {
        height: 15em;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
    }

    article h3
    {
        font-size: 2.5em;
        padding: 0.5em 0 0.5em 0.5em;
    }
    .lodging_card_content p
    {
        padding: 0 0 0.5em 0.7em;
        font-size: 2em;
    }

    .lodging_card_star
    {
        font-size: 2em;
        padding: 0 0 0.5em 0.7em;
    }

    #article_more 
    {
        font-size: 3em;
    }
   }


   aside
   {
       background-color: #F2F2F2;
       padding-top: 2em;
       padding-left: 2em;
       width: 40%;
       margin-left: 3em;
       border-radius: 20px;
   }

   .most_popular
   {
       display: flex;
       flex-direction: column;

   }
   .most_popular_card
   {
    width: 85%;
    height: 8em;
    background-color: white;
    position: relative;
    padding: 0.5rem;
    margin-top: 1em;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 8px 8px 8px #d9d9d9;
   }

   .most_popular_img
   {
       max-height: 100%;
       height: 90%;
       width: 33%;
       position: absolute;
       object-fit: cover;
       border-top-left-radius: 20px;
       border-bottom-left-radius: 20px;
   }

   .Aside_card_title
   {
       display: flex;
       flex-direction: column;
       width: 100%;
       height: 100%;
   }

   .aside_img
   {
       width: 60%;
   }

    aside .lodging_a 
    {
        width: 100%;
        display: flex;
        padding: 0;
        overflow: auto;
        height: 100%;
    } 

    aside h3,p 
    {
        padding: 0;
        margin: 0;
    }

    aside h2
    {
        margin-top: 0px;
    }

    .aside_content_card
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .aside_card_star
    {
        display: flex;
        
    }

    aside .fas 
    {
        margin-right: .2rem;
        margin-bottom: .3rem;
    }

    #header_aside
    {
        display: flex;
        justify-content: space-between;
    }

    .fa-chart-line
    {
        padding-right: 1em;
    }


    .lodging_a:link
    {
        text-decoration:none; 

    }

    .lodging_a:active
    {
        color: black;
    }

    .lodging_a:visited
    {
        color: black;
    }
    .star_on
    {
        color: #0065FC;
    }
 
    .star_off
    {
        color: #d9d9d9;
    }
 
    @media screen and (max-device-width: 480px)
    {
           .most_popular
        {
            display: flex;
            flex-wrap: wrap;
        }

        aside 
        {
            margin-bottom: 2em;
            padding-bottom: 5em;
            width: 100%;
            margin-left: 0;
        }

        aside h3 
        {
            font-size: 2.5em;
            margin-bottom: 0.5em;
        }

        aside p 
        {
            font-size: 2em;
        }

        aside.fas 
        {
            font-size: 2em;
        }

        .aside_card_star

        {
            font-size: 2em;
        }

        .aside_content_card
        {
            width: 80%;
            padding: 1.5em;
        }

        #header_aside 
        {
            font-size: 3em;
        }

        .most_popular_card
        {
            height: 20em;
            border-radius: 50px;
            width: 95%;
        }

        .aside_img 
        {
            width: 70%;
        }

        .most_popular_img
        {
            width: 43%;
            height: 95%;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }

    }


   #activity
   {
       margin-top: 5em;
       display: flex;
       flex-direction: column;
   }

   #header_activity

   {
    padding: 1em 0 1em 0;
   }

   #activity_content
   {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       width: 100%;
       height: 35em;
       
   }

   #activity_1
   {
    background-color: white;
    width: 22%;
    height: 100%;
    border-radius: 20px;
    box-shadow:  0 0 20px #d9d9d9;
    margin: 0;
   }

   #activity_2
   {
    background-color: white;
    width: 20%;
    height: 45%;
    border-radius: 20px;
    box-shadow:  0 0 20px #d9d9d9;
   }

   #activity_3
   {
    background-color: white;
    width: 20%;
    border-radius: 20px;
    height: 48%;
    margin-top: 2em;
    box-shadow:  0 0 20px #d9d9d9;
   }

   #activity_4
   {
    background-color: white;
    width: 22%;
    height: 100%;
    border-radius: 20px;
    box-shadow:  0 0 20px #d9d9d9;
    margin: 0;
   }

   #activity_5
   {
    background-color: white;
    width: 20%;
    height: 45%;
    border-radius: 20px;
    box-shadow:  0 0 20px #d9d9d9;
   }

   #activity_6
   {
    background-color: white;
    width: 20%;
    height: 48%;
    margin-top: 2em;
    border-radius: 20px;
    box-shadow:  0 0 20px #d9d9d9;
   }

   .activity_medium
   {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 70%;
    width: 100%;
    object-fit: cover;
   }

   .activity_large
   {
       object-fit: cover;
       border-top-right-radius: 20px;
       border-top-left-radius: 20px;
       height: 85%;
       width: 100%;
   }

    #activity h3 
    {
        margin-bottom: 0;
        padding-left: 1em;
    }

   footer
   {
       background-color: #F2F2F2;
       margin-top: 4em;
       padding: 2em 0 2em 10em;
       display: flex;
   }

   .footer_content
   {
       margin-right: 20%;
   }

   footer h2
   {
       font-size: 1em;
   }

   footer ul
   {
       padding: 0;
   }

   footer li 
   {
       line-height: 2em;
   }