
body
 {
    font-family: 'Raleway', sans-serif;
}

header
{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1500px;
}

#Logo
{
    width: 91px;
    height: 45px;
    padding: 70px 0px  20px 0px ;
    margin-left: 0%;

}

nav
{
    display: flex;
}

.header_nav
{
    padding: 50px 25px 25px 25px;

}

a.header_nav:link
{
    text-decoration: none;
    color: black;
}

a.header_nav:hover
{
    color: #0065FC ;

}
a.header_nav:active
{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}



#sign_up
{
    padding: 50px 25px 25px 25px;
}

a#sign_up
{
    text-decoration: none;
    font-weight: bold;
    color: #0065FC ;
}



main
{
    width: 80%;
    margin: auto;
}

section h1
{
    font-size: 20px
}


label
{
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 0px;
    height: 50px;
    width: 50px;
}

#searching_div .fas
{
    
    padding: 18px 20px 18px 20px;
    font-weight: bold;
    
}

.searching_area
{
    width: 250px;
    height: 50px;
    border-left: none;
    border-right: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    margin: 0px;
    -webkit-appearance: none;
    font-weight: bold;
    font-style: normal;
    padding-left: 10px;
    
}

#searching_div
{
  display: flex;
  box-sizing: border-box;
}

button
{
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    width: 110px;
    color: white;
    font-stretch: extra-expanded;
    -webkit-appearance: none;
    
}

#filter_title
{
    font-size: 18px;
    margin-right: 50px;
}

#filtered
{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#filter_bar
{
    display: flex;
}



#filtered_search
{
    display: flex;
    align-items: center;
    border-radius: 2rem;
    border: #F2F2F2 2px solid;
    border-left: none;
    margin-bottom: 1rem;
    margin-right: 3em;
    font-weight: bold;
 }

 .icon_search
 {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 55px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
   }

   .filter_name
   {
    padding-left: 1em;
    padding-right: 1em;
   }

   #filtered .fas
   {
       color: #0065FC;
   }

   #info
   {
       display: flex;
   }

   #logo_info
   {
    border-radius: 100%;
    height: 0,5em;
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin-right: 1em;
    border: 2px solid #F2F2F2;
   }